@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto&display=swap');

html {
    font-family: 'Roboto', sans-serif;
}

.game-board {
    --grid-border-width: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    width: 600px;
    height: 600px;
    gap: var(--grid-border-width);
}

.game-board-cell {
    outline: solid black var(--grid-border-width);
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-board-cell {
    font-size: 100px;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
}