@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto&display=swap');

:root {
    --grid-border-width: 10px;
}

html {
    font-family: 'Roboto', sans-serif;
}

h1 {
    text-align: center;
}

.game-info {
    height: 150px;
}

.btn-marker {
    margin: 5px 0;
    font-size: 2rem;
}

.game-info-select-marker,
.game-info-current-player,
.game-info-outcome,
.btn-reset,
form {
    display: none;
    position: relative;
    left: calc(-1 * var(--grid-border-width));
}

.btn-reset,
form {
    display: block;
    margin-bottom: 5px;
}

.btn-reset {
    margin: 5px 0;
}

input {
    margin: 5px 0;
    width: 250px;
}

.game-board {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    width: 600px;
    height: 600px;
    gap: var(--grid-border-width);
    margin: 20px 0;
}

.game-board-cell {
    outline: solid black var(--grid-border-width);
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-board-cell {
    font-size: 130px;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
}